# Django specific ignores
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# If you are using environment variables
.env

# Ignore virtual environments
venv/
env/
node_modules/
.sass-cache/