#nav_btns {
    width: 100%;
}
#nav_logo_div {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
#nav_logo {
    width: 17%; 
    height: 17%; 
    margin-top: 12px;
}
#search_input {
    width: 100%;
}
#carousel_item_title {
    margin-top: 20px;
}
#benefits_section {
    height: 1100px;
}
#description_section {
    height: 190px;
}
#benefits_div {
    padding-top: 50px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.benefits_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}

#burger_icon {
    padding: 0px 0px;
    border: 0px;
    border-radius: 0rem; 
} 
#burger_icon:focus {
    box-shadow: 0 0 0 0rem;
    outline: 0rem;
    
}
#message_container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.bitten-rectangle {
    height:120px; border-radius: 20px; background-color: #001848;
    width: 180px;
    height: 120px;
    position: relative;
    margin: -20px auto 0px auto;
}

.bitten-rectangle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 0 0 50% 50%;
}
.bitten-rectangle .circle {
    position: absolute;
    top: -25px; /* Adjust this value to control the padding between the circle and rectangle */
    left: 50%;
    transform: translateX(-50%);
    width: 55px; /* Adjust the size of the circle */
    height: 55px;
    background-color: #007033;
    border-radius: 50%;
    border: 5px solid #007033; /* Adjust the border width for padding effect */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.custom-col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}
.carousel-container {
    background-color: #001848;
}
.rectangle {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background: linear-gradient(to bottom, #007bff 0%, #007bff 50%, transparent 50%, transparent 100%);
    margin: 50px auto; /* Centering the shape */
}
.rectangle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #007bff;
    border-radius: 50% 50% 0 0;
}


.social_links {
    display: flex;
    justify-content: space-between
  }
.coding_languages {
    display: flex;
    flex-direction: column;
   
}

  @media screen and (min-width: 300px) {
    .footer_title {
        font-size: 10px;
    }
    .footer_item {
      font-size: 10px;
    }
    .social_links {
      flex-direction: column;
    }

}
@media screen and (min-width: 500px) {
    #nav_logo {
        width: 15%; 
        height: 15%; 
        margin-top: 9px;
    }

}

@media screen and (min-width: 576px) {
    .footer_title {
        font-size: 13px;
    }
    .footer_item {
      font-size: 13px;
    }

}
@media screen and (min-width: 768px) {
    #nav_logo_div {
        width: 30%;
    }

    #nav_logo {
        width: 15%; 
        height: 15%; 
        margin-top: 8px;
    }
    .social_links {
        flex-direction: row;
        justify-content: space-between
    }
    .coding_languages {
        flex-direction: row;
        justify-content: space-between;
    }
    .coding_languages div:first-child {
       width: 22%;
    }
    .coding_languages div:nth-child(2) {
        width: 50%;
    }
    .coding_languages div:last-child{
        width: 22%;
    }
    .benefits_row {
        flex-direction: row;
        justify-content: space-around;
        height: 35%;
    }
    #benefits_div {
        height: 350px;
    }
    #benefits_section {
        height: 470px;
    }
}

@media screen and (min-width: 576px) {
    #nav_btns{
        width: 60%;
    }
    #search_input {
        width: 65%;
    }
}
@media screen and (min-width: 767px) {
    #carousel_item_title {
        font-size: 20px;
    }

}

@media screen and (min-width: 776px) {
    #nav_btns{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    #carousel_item_title {
        font-size: 20px;
    }
    #nav_logo_div {
        width: 22%;
    }

    #nav_logo { 
        margin-top: 6px;
    }
    #nav_btns{
        width: 25%;
    }
  .footer_title {
      font-size: 16px;
  }
  .footer_item {
    font-size: 16px;
  }

}
@media screen and (min-width: 1200px) {
    #nav_logo_div{
        width: 18%;
    }
}