{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block register %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent" class="pt-3">
        <h2 class="active">
          <a class="signin" href="" style="text-decoration: none">Sign Up</a>
        </h2>
        <h2 class="inactive underlineHover">
          <a class="signin" href="{% url 'login' %}" style="text-decoration: none">Sign In</a>
        </h2>
        <div class="fadeIn first"></div>

        <form action="" method="POST">
          {% csrf_token %} {{form|crispy}}
          <input type="submit" class="fadeIn fourth" value="Sign Up" />
        </form>

        <div id="formFooter">
          <p>
            Already have an account?
            <a class="underlineHover" href="{% url 'login' %}">Login </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock register %}
